<html>

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="index.css"> 
    <script type="text/javascript" src="modules/vue.min.js"></script>
    <script type="text/javascript" src="modules/vue-router.js"></script>

    <script type="text/x-template" id="uiCharacterStats">
        <div v-if="!char.IsDead()">
            <div class="CharacterName">[{{char.Species.m.Name}}] {{char.Name}}</div>
            <div class="TwoColumn">
                <div class="PropertySheet">
                    <div class="SheetEntry"><div class="Title">LIFE</div><div class="Value">{{char.CurrStats.Hitpoint}}</div></div>
                    <div class="TwoColumn">
                        <div class="SheetEntry"><div class="Title">STAM</div><div class="Value">{{char.CurrStats.Stamina}}</div></div>
                        <div class="SheetEntry"><div class="Title">MANA</div><div class="Value">{{char.CurrStats.Mana}}</div></div>
                    </div>
                    <div class="TwoColumn">
                        <div class="SheetEntry"><div class="Title">STR</div><div class="Value">{{char.CurrStats.Strength}}</div></div>
                        <div class="SheetEntry"><div class="Title">FOC</div><div class="Value">{{char.CurrStats.Focusing}}</div></div>
                    </div>
                    <div class="TwoColumn">  
                        <div class="SheetEntry"><div class="Title">BRAV</div><div class="Value">{{char.CurrStats.Bravery}}</div></div>
                        <div class="SheetEntry"><div class="Title">SPD</div><div class="Value">{{char.CurrStats.Initiative}}</div></div>
                    </div>
                    <div class="TwoColumn">
                        <div class="SheetEntry"><div class="Title">M.ATK</div><div class="Value">{{char.CurrStats.MeleeAttack}}</div></div>
                        <div class="SheetEntry"><div class="Title">M.DEF</div><div class="Value">{{char.CurrStats.MeleeDefense}}</div></div>
                    </div>
                    <div class="TwoColumn">
                        <div class="SheetEntry"><div class="Title">R.ATK</div><div class="Value">{{char.CurrStats.RangeAttack}}</div></div>
                        <div class="SheetEntry"><div class="Title">R.DEF</div><div class="Value">{{char.CurrStats.RangeDefense}}</div></div>
                    </div>
                </div>
                <div class="EquipmentSheet">
                    <div class="SheetEntry"><div class="Title">Head</div><div class="Value">{{headvalue}}</div></div>
                    <div class="SheetEntry"><div class="Title">Body</div><div class="Value">{{bodyvalue}}</div></div>
                    <div class="SheetEntry"><div class="Title">Legs</div><div class="Value">{{legsvalue}}</div></div>
                    <div class="SheetEntry"><div class="Title">L-Hand</div><div class="Value">{{char.MainHandWeapon != null ? char.MainHandWeapon.Name : ''}}</div></div>
                    <div class="SheetEntry"><div class="Title">R-Hand</div><div class="Value"></div></div>
                    <div class="SheetEntry"><div class="Title">Neck</div><div class="Value"></div></div>
                    <div class="SheetEntry"><div class="Title">Ring</div><div class="Value"></div></div>
                    
                </div>
            </div>
            <div class="EnenyPortrait" v-if="isshowportrait">
                <img :src="'Resources/' + char.Species.m.Name + '.png'" style="width:100%;" />
            </div>
        </div>
    </script>

    <script type="text/x-template" id="uiUserInputPanel">
        <div id="UserInputPanel">
            <div id="OptionHint" class="HintText">
                {{ OptionHint }}
            </div>
            <div id="DefendDirectionSelector" class="DirectionSelector" v-if="ShowDefendDirectionPanel">
                <div class="row">
                    <div> </div>
                    <div>
                        <button @mouseover="onHoverDefendHint(DirectionU)" @click="onPickDefendDirection(DirectionU)"> {{this.DirectionU.Text }}</button>
                    </div>
                    <div></div>
                </div>
                <div class="row">
                    <div>
                        <button @mouseover="onHoverDefendHint(DirectionL)" @click="onPickDefendDirection(DirectionL)"> {{this.DirectionL.Text }}</button>
                    </div>
                    <div>
                        <button @mouseover="onHoverDefendHint(DirectionM)"@click="onPickDefendDirection(DirectionM)"> {{this.DirectionM.Text }}</button>
                    </div>
                    <div>
                        <button @mouseover="onHoverDefendHint(DirectionR)" @click="onPickDefendDirection(DirectionR)"> {{this.DirectionR.Text }}</button>
                    </div>
                </div>
            </div>
            <div id="AttackDirectionSelector" class="DirectionSelector" v-if="ShowAttackDirectionPanel">
                <div class="row">
                    <div> </div>
                    <div>
                        <button :disabled="!isAttackDirectionEnable(DirectionU)" @mouseover="onHoverAttackHint(DirectionU)" @click="onPickAttackDirection(DirectionU)"> {{this.DirectionU.Text }}</button>
                    </div>
                    <div></div>
                </div>
                <div class="row">
                    <div>
                        <button :disabled="!isAttackDirectionEnable(DirectionL)" @mouseover="onHoverAttackHint(DirectionL)" @click="onPickAttackDirection(DirectionL)"> {{this.DirectionL.Text }}</button>
                    </div>
                    <div>
                        <button :disabled="!isAttackDirectionEnable(DirectionM)" @mouseover="onHoverAttackHint(DirectionM)" @click="onPickAttackDirection(DirectionM)"> {{this.DirectionM.Text }}</button>
                    </div>
                    <div>
                        <button :disabled="!isAttackDirectionEnable(DirectionR)" @mouseover="onHoverAttackHint(DirectionR)" @click="onPickAttackDirection(DirectionR)"> {{this.DirectionR.Text }}</button>
                    </div>
                </div>
            </div>
        </div>
    </script>
</head>

<body>
    <div id="container">
        <div id="LogPanel">
            <div id="TextStoryLog" v-html="StoryLog" class="HintText">
                
            </div>
        </div>
        <div id="ControlPanel">
            <div id="TutorialHint" class="HintText">
                {{TutorialHint}}
            </div>
            <user-input-panel>

            </user-input-panel>
        </div>

        <!--div id="BattlePanel">
            <div class="PartyPanel EmenyPanel">
                <slot v-for="item in enemyTeamMates">
                    <character-stats class="CharacterPanel" :isshowportrait="true" :char="item" />
                </slot>
            </div>

            <div class="PartyPanel">
                <slot v-for="item in playerTeamMates">
                    <character-stats class="CharacterPanel" :isshowportrait="false" :char="item" />
                </slot>
            </div>
        </div>
        <div id="SidePanel">
            
            
        </div-->
    </div>
</body>

<script type="text/javascript" src="common.js"></script>
<script type="text/javascript" src="mainloop.js"></script>
<script type="text/javascript" src="index.js"></script>

</html>