html {
	background-image: url("background.jpg");
	margin:0 auto;
} 
body
{
	margin:0 auto;

	font-size:12pt;
	line-height:20pt;
	color:#666666;
}

#container
{
	margin: 0 auto;
	width:50%;
	min-width:1000px;
	min-height:100%;
	overflow-y:auto;
	
	background-color: #e0e0e0;
}

#week_show
{
	background-image: url("wood.png");
	font-size:30;
	line-height:2.5;	
	color:#FFFFFF;
	text-align:center;
}

#main_desc
{
	text-indent: 30;
	line-height:2.5;
	font-size:30;
	padding:20px;
	margin-bottom:10px;
}

.next_day
{
	max-width: 500px;
    color:#444;
	border:1px solid #aaaaaa;
	background:#dddddd;
	box-shadow: 0px 2px 5px -1px rgba(0,0,0,0.5);
	cursor:pointer;
	font-size:14;
	line-height:3;
	text-align: center;
	margin:auto;
	margin-bottom:10px;
}