html {
	background-image: url("background.jpg");
	margin:50px 50px 0px 50px;
} 
body
{
	background-color: #e0e0e0;

	margin: 0 auto;
	max-width: 1150px;

	font-size:14;
	line-height:1.7;	
	color:#666666;
	
	overflow-y:auto;
}

#container
{
	width:100%;
	overflow-y:auto;
}