html {
	background-image: url("background.jpg");
	margin:50px 50px 0px 50px;
} 
body
{
	background-color: #e0e0e0;

	margin: 0 auto;

	font-size:14;
	line-height:1.7;	
	color:#666666;
	
	overflow-y:auto;
}

#container
{
	width:100%;
	overflow-y:auto;
}

#week_show
{
	background-image: url("wood.png");
	font-size:30;
	line-height:2.5;	
	color:#FFFFFF;
	text-align:center;
}

#main_desc
{
	line-height:2.5;
	font-size:14;
	padding:20px;
	magin-bottom:10px;
}

#next_day
{
	max-width: 500px;
    color:#444;
	border:1px solid #aaaaaa;
	background:#dddddd;
	box-shadow: 0px 2px 5px -1px rgba(0,0,0,0.5);
	cursor:pointer;
	font-size:14;
	line-height:3;
	text-align: center;
	margin:auto;
	margin-bottom:10px;
}